/* Fondo de pantalla */
body {
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1920&q=80') no-repeat center center fixed;
  background-size: cover;
}


/* ancho del modal */
.modal-dialog{
  max-width: 850px !important;
  width: 90% !important;
}


/* SOLUCION AL MODAL CORTADO */
.modal-body{
  max-height: 70vh;
  overflow-y: auto;
}

.modal-content{
  overflow: visible;
}